#main{
    font-family: main-aside;
    margin: 20px;
    transition: 1s;
    display: flex;  
    left: 17%;
    top: 0;
    position: absolute;
    flex-direction: column;
    width: 81%;
    min-height: 100%;
    background-color: #eeeefc;
    border-radius: 45px;
    padding-bottom: 100px;
}