@font-face{
    font-family: main-aside;
    src: url("../../fonts/static/RedHatMono-Medium.ttf");
}

.d-row{
    display: flex;
    flex-direction: row;
    #search{
        border: none;
        background-color: #eeeefc;
        margin: 30px 0;
        font-size: 20px;
        width: 20%;
        border-bottom: 1px solid black;
        border-radius: 0;
        outline: none;
    }
    img{
        object-fit: cover;
        width: 40px;
        margin: auto 20px;
    }
    .userMAIN{
        position: absolute;
        right: 20px;
        top: 25px;  
        width: 60px !important;
    }
}
.staff{
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    transition: 0.5s;
    background-color: white;
    .staff__add{
        width: 120px;
        img{
            margin: 63px auto;
            width: 40%;
            object-fit: cover;
            cursor: pointer;
        }
    }
    p{  
        margin: 10px 20px ;
        font-size: 18px;
        font-family: main-aside;
        color: black;
    }
    p:nth-child(2){  
        margin: 0 20px;
    }
    .staff__people{
        display: flex;
        flex-direction: row;
        margin: 20px;
    }   
    .staff__people__user{
        display: flex;
        flex-direction: column;
        width: 90px;
        height: 150px; 
        background-color: #eeeefc;
        border-radius: 15px;
        margin-right: 20px;
        cursor: pointer;
        .user__name{
            font-size: 17px;
            margin: 15px auto;
            text-align: center;
            color: black;
        }
        img{
            margin: 10px auto;
            width: 70%;
        }
    }
}

.staff__obert{
    display: flex;
    flex-direction: row;
}
.staff:hover{
    background-color: #4654EB;
    p{
        color: white;
    }
    .staff__people__user{
        background-color: white;
    }
}
#notify{
    display: flex;
    height: 270px;
    background-color: rgb(255, 255, 255);
    width: 40%;
    position: fixed;
    bottom: 0;
    right: 18px;
    border-radius: 20px;  
    flex-direction: column;
    transition: 1s;
    font-size: 20px;
    .newMessage{
        background-color: #4654EB;
        display: flex;
        flex-direction: row;
        font-size: 20px;
        border-radius: 15px 15px 0 0;
        p{
            margin: 10px;
            color: white;
        }
        #closeMessage{
            position: absolute;
            right: 20px;
            top: 10px;
            border: none;
            background-color: #4654EB;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }
    }
    .p{
        margin:10px;
    }
    .sendHTML{
        display: flex;
        flex-direction: row;
        #sendDate{
            margin-left: auto;
            margin-right: 10px;
        }
        #send{
            font-size: 18px;
            border-radius: 10px;
            border: none;
            margin: 10px 0;
            margin-left: 10px;
            transition: 0.5s;
        }
        #send:hover{
            background-color: #4654EB;
            color: white;
        }
    }
}   
input{
    margin: 7px 10px;
    width: 97%;
    font-size: 18px;
    background-color: #eeeefc;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.5s;
    padding: 7px 0;
}
input:hover{
    background-color: #4654EB;
    color: white;
}
.active__task{
    .tasks__text{
        height:  180px;
        white-space: normal; 
        overflow:visible; 
        text-overflow: clip;   
    }   
}

.tasks__item:hover{
    background-color: #4654EB;
    transition: 0.5s;
    .tasks__name, 
    .tasks__date, 
    .tasks__text,
    .openTasks,
    .removeTasks{
        color: white;
        transition: 0.3s;
    }
}
